/*
 * Front end.
 */

.chess_view {}

.chess_board {
    position: relative;
    border-collapse: collapse;
    margin: 1em auto;
}
.chess_board td {
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
}
.chess_light {
    background: #fdb;
}
.chess_dark {
    background: #c95;
}
.chess_move {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #8a4;
    border-radius: 28px;
}
.chess_loader {
    position: absolute;
    top: 196px;
    left: 196px;
    z-index: 1;
}

.chess_control_panel {
    display: table;
    margin: 1em auto;
}
/* Unfortunately, IE doesn't like this.
.chess_control_panel button[value="goto"] {
    display: none;
}
*/
.chess_control_panel input[name="chess_ply"] {
    width: 3em;
    text-align: right;
}

/*
 * Back end.
 */

.chess_import_form li button {
    margin-left: 1em;
}

.chess_icon {
    float: left;
    margin-right: 1em;
}
.chess_license {
    text-align: justify;
}
