/*
 * Front end.
 */

.chess_view {}

.chess_board {
    border-collapse: collapse;
    margin: 1em auto;
}
.chess_board td {
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: bottom;
}
.chess_light {
    background: #fdb;
}
.chess_dark {
    background: #c95;
}

.chess_control_panel {
    display: table;
    margin: 1em auto;
}

/*
 * Back end.
 */

.chess_import_form li button {
    margin-left: 1em;
}

.chess_icon {
    float: left;
    margin-right: 1em;
}
.chess_license {
    text-align: justify;
}
