/*
 * Front end.
 */

.chess_view {
    overflow: hidden; /* establish block formatting context */
}

.chess_board {
    /*float: left;*/
    border-collapse: collapse;
}
.chess_board td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}
.chess_light {
    background: #fdb;
}
.chess_dark {
    background: #c95;
}

.chess_control_panel {
    /*float: left;*/
    margin: 1em;
}

/*
 * Back end.
 */

.chess_icon {
    float: left;
    margin-right: 1em;
}
.chess_license {
    text-align: justify;
}
